
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, sans-serif;
  height:100vh;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#0f172a;
  color:white;
}

.app{
  background:#1e293b;
  padding:20px;
  border-radius:12px;
  width:500px;
  text-align:center;
  position:relative;
  z-index:2;
}

select, button{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:6px;
  border:none;
}

button{background:#38bdf8;font-weight:bold;}

.weather-box img{width:80px;margin:10px 0;}

#forecast{
  display:flex;
  gap:8px;
  margin-top:15px;
  overflow-x:auto;
  display: center;
}

.day-card{
  flex:0 0 auto;
  background:#334155;
  border-radius:10px;
  padding:10px;
  text-align:center;
  min-width:70px;
}

.day-card h4{
  margin:5px 0;
  color:#38bdf8;
}

.day-card img{
  width:50px;
}

/* Background Sky */
#sky{
  position:fixed;
  top:0; left:0;
  width:100%;
  height:100%;
  background:linear-gradient(to top,#0f172a,#1e3a8a);
  z-index:0;
  transition:background 2s ease;
}

/* Clouds */
#clouds{
  position:fixed;
  top:0; left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index:1;
}

.cloud{
  position:absolute;
  width:160px;
  height:60px;
  background:#e2e8f0;
  border-radius:50px;
  animation: moveCloud linear infinite;
  opacity:.8;
}

.cloud::before,.cloud::after{
  content:"";
  position:absolute;
  background:#e2e8f0;
  width:80px;
  height:80px;
  border-radius:50%;
  top:-40px;
}
.cloud::before{left:20px;}
.cloud::after{right:20px;}
.c1{top:20%; animation-duration:40s;}
.c2{top:45%; animation-duration:60s;}
.c3{top:65%; animation-duration:80s;}

@keyframes moveCloud{
  from{left:-200px;}
  to{left:100%;}
}

/* Rain */
#rain{position:fixed;top:0;left:0;width:100%;height:100%;pointer-events:none;z-index:1;}
.drop{
  position:absolute;
  width:2px;
  height:15px;
  background:#7dd3fc;
  animation: fall linear infinite;
}
@keyframes fall{
  from{top:-20px;}
  to{top:100vh;}
}

/* Snow */
#snow{position:fixed;top:0;left:0;width:100%;height:100%;pointer-events:none;z-index:1;}
.snowflake{
  position:absolute;
  width:5px;
  height:5px;
  background:white;
  border-radius:50%;
  opacity:0.8;
  animation: snowFall linear infinite;
}
@keyframes snowFall{
  from{top:-10px;}
  to{top:100vh;}
}

/* Sun & Moon */
#sun{
  width:90px;
  height:90px;
  background:yellow;
  border-radius:50%;
  position:fixed;
  top:40px; right:60px;
  box-shadow:0 0 40px yellow;
  display:none;
  z-index:2;
}
#moon{
  width:80px;
  height:80px;
  background:#ffffff;
  border-radius:50%;
  position:fixed;
  top:40px; right:60px;
  box-shadow:0 0 25px white;
  display:none;
  z-index:2;
}